<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ls.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>code</servlet-name>
        <servlet-class>com.ls.servlet.code</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>code</servlet-name>
        <url-pattern>/code</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.ls.servlet.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.ls.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.ls.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteLessonServlet</servlet-name>
        <servlet-class>com.ls.servlet.DeleteLessonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteLessonServlet</servlet-name>
        <url-pattern>/DeleteLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddLessonServlet</servlet-name>
        <servlet-class>com.ls.servlet.AddLessonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddLessonServlet</servlet-name>
        <url-pattern>/AddLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateLessonServlet</servlet-name>
        <servlet-class>com.ls.servlet.UpdateLessonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLessonServlet</servlet-name>
        <url-pattern>/UpdateLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.ls.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginOut</servlet-name>
        <servlet-class>com.ls.servlet.LoginOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginOut</servlet-name>
        <url-pattern>/LoginOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HandleExcel</servlet-name>
        <servlet-class>com.ls.servlet.HandleExcel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleExcel</servlet-name>
        <url-pattern>/HandleExcel</url-pattern>
    </servlet-mapping>
</web-app>