<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}
{% block title %}图书管理系统展示{% endblock %}

{% block content %}
<div class="container">
   {% block page_content %}
        <table class="table-bordered table table-hover table table-striped table-condensed" align="center">
            <tr class="success">
                <th>学号</th>
                <th>姓名</th>
                <th>学生电话</th>
                <th>管理员工号</th>
                <th>功能栏</th>
            </tr>
              {% for student in students %}
                  <tr>
                      <td>{{ student[0] }}</td>
                      <td>{{ student[1] }}</td>
                      <td>{{ student[2] }}</td>
                      <td>{{ student[3] }}</td>
                      <td><button class="btn  btn-danger" onclick="window.location.href='/deleteStudent/{{ student[0] }}'"> 删除</button></td>
                  </tr>
            {% endfor %}
        </table>
   {% endblock %}
</div>
{% endblock %}
</body>
</html>